* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    background-image: url("glass3.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

#main h1 {
    text-align: center;
    color: #dc00ff;
    margin: 200px auto;
}

.for_input {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: -170px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #00a6ff;
    align-self: center;
}

.for_input:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 20px 3px #00a6ff;
}

.for_input label {
    margin: 20px 0 5px 9px;
}

.for_input input {
    background-color: rgba(0, 0, 0, 0.7);
    color: #faf8f8;
    padding: 10px;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.for_input input::placeholder {
    color: white;
}
.checkbox {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
}

.checkbox label {
    margin: 0 20px 0 10px;
}

.checkbox .input_checkbox {
    width: 20px;
    height: 20px;
    margin-top: 0;
}
.show_password {
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.for_input .show_password input {
    width: 20px;
    height: 20px;
    margin-top: 0;
}

.show_password label {
    margin: 0;
}

.error {
    color: darkred;
    font-weight: 900;
    display: none;
}
button{
    background-color: #3498db;
    color: white;
    border-radius: 20px;
    width: 360px;
    height: 50px;
    border: solid 1px;

}
button:active{
    background-color: #0099ff;
    color: white;
    border-radius: 20px;
    width: 350px;
    height: 49px;
    border: solid 1px;

}